@model IEnumerable<OXG.CRM_System.Models.Notice>
@{
    ViewData["Title"] = "Notices";
}

<h1>Уведомления</h1>


@foreach (var item in Model)
{<div class="row">
        <div class="col-12">
            <div class="card border-secondary" title="@item.EmployeerId" id="line_block" with="">
                <div class="card-body">
                    <h5 class="card-title">1232123</h5>
                </div>
            </div>
        </div>
    </div>
    <br />
}