@model IEnumerable<OXG.CRM_System.Models.Notice>
@{
    ViewData["Title"] = "Notices";
}

<h1>Notices</h1>

<div class="row" style="margin-left: 1%; ">
    @foreach (var item in Model)
    {
        <div class="card border-info mb-3" title="@item.EmployeerId" id="line_block">
            <div class="card-body">
                <h4 class="card-title">@item.Text</h4>
                <div><a class="btn btn-outline-secondary" asp-action="Close" asp-controller="Mission" asp-route-id="@item.Id">Выполнить</a></div>
            </div>
        </div>
    }
</div>

