@model OXG.CRM_System.Models.Employeers.Manager
@{
    ViewData["Title"] = "Manager";
}

<h1>@Model.Name</h1>

<table class="table table-hover table-striped">
    <tr>
        <td>
            <div class="row">
                <label for="Email" class="col-sm-3 col-form-label">Email:</label>
                <div class="col-sm-9">
                    <input asp-for="Email" readonly="" class="form-control-plaintext" id="Email">
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="row">
                <label for="PhoneNumber" class="col-sm-3 col-form-label">Номер телефона:</label>
                <div class="col-sm-9">
                    <input asp-for="PhoneNumber" readonly="" class="form-control-plaintext" id="PhoneNumber">
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="row">
                <label for="Events" class="col-sm-3 col-form-label">Текущих мероприятий:</label>
                <div class="col-sm-9">
                    <input value="@Model.Events.Where(e => e.Status !="Завершено").Count()" readonly="" class="form-control-plaintext" id="Events">
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="row">
                <label for="Clients" class="col-sm-3 col-form-label">Клиентов:</label>
                <div class="col-sm-9">
                    <input value="@Model.Clients.Count()" readonly="" class="form-control-plaintext" id="Clients">
                </div>
            </div>
        </td>
    </tr>
</table>