
@{
    ViewData["Title"] = "AddToEvent";
}

<h1>Указать техника</h1>

<form asp-action="AddToEvent">
    <select asp-items="@ViewBag.Technics" name="TechnicId" class="custom-control custom-select"></select>
    <input name="eventId" type="number" hidden="" value="@ViewBag.EventId"/>
    <input asp-action="AddToEvent" type="submit" class="btn btn-success" value="Подтвердить"/>
</form>