@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        @if (User.Identity.IsAuthenticated && User.IsInRole("Администратор"))
        {
            <p> <a asp-action="Index" asp-controller="Roles">Управление ролями</a></p>
        }

        @if (User.Identity.IsAuthenticated && User.IsInRole("Менеджер"))
        {
            <p> <a asp-action="Personal" asp-controller="Manager">Кабинет менеджера</a></p>
            <p> <a asp-action="Index" asp-controller="Manager">Рабочая зона менеджера</a></p>
        }

        @if (User.Identity.IsAuthenticated)
        {
            <h1>@User.Identity.Name</h1>
        }
    </div>
