
@{
    ViewData["Title"] = "SendToEmail";
}

<h1 style="color:limegreen">OK</h1>

<h3>Договор @ViewBag.ContractName, отправлен клиенту @ViewBag.ClientName на адрес @ViewBag.SendToAdress</h3>
<br />
<a asp-action=""

